<nav class="navbar navbar-default epi-nav">
  <div class="container-fluid epi-nav">
    <div class="navbar-header epi-nav">
      <a class="navbar-brand epi-nav" routerLink="">Epicodus Tunes</a>
    </div>
    <ul class="nav navbar-nav navbar-right epi-nav">
      <li class="nav-li epi-nav"><a class="epi-nav" routerLink="about">About</a></li>
      <li class="nav-li epi-nav"><a class="epi-nav" routerLink="marketplace">Marketplace</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1 class="online-store">{{title}}</h1>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
