<h2 class="subheader">Marketplace</h2>

    <select id="filter" (change)="onChange($event.target.value)">
      <option value="allAlbums">All Albums</option>
      <option value="underTen">Albums under $10</option>
      <option value="overTen">Albums over $10</option>
    </select>

<div id="marketplace-tiles" *ngFor="let album of albums | filter:priceFilter"  class="panel panel-default">
  <div class="panel-body">
    <h3 class="album-title" (click)="goToDetailPage(album)"><em>{{album?.title}}</em> by {{album?.artist}}</h3>
    <h4>${{album?.price}}</h4>
    <div *ngIf="currentRoute === '/admin'">
      {{album?.description}}
      <hr>
      <app-edit-album [selectedAlbum]="album"></app-edit-album>
    </div>
  </div>
</div>
